@use 'sass:color'

$color-background-light: #FEFDFA
$color-primary: #FF6F61
$color-primary-highlight: color.scale($color-primary, $lightness: 30%)
$color-secondary: #FFAB61
$color-secondary-highlight: color.scale($color-secondary, $lightness: 30%)
$color-selection: color.scale($color-primary, $lightness: 50%)
