<div [ngStyle]="{ 'display': isActive ? 'flex' : 'none' }">
  <div>
    <div *ngIf="closeButton" class="close" (click)="onClose.emit($event); onCloseModal()"><fa-icon [icon]="iconClose"></fa-icon></div>
    <ng-content></ng-content>
    <div *ngIf="cancelButton || noButton || okButton || deleteButton" class="interactions">
      <div *ngIf="cancelButton">
        <app-button
          [label]="'cancel'"
          [fill]="true"
          (onClick)="onCancel.emit($event); onCloseModal()"
        ></app-button>
      </div>
      <div *ngIf="noButton">
        <app-button
          [label]="'no'"
          [fill]="true"
          [variant]="'secondary'"
          (onClick)="onNo.emit($event); onCloseModal()"
        ></app-button>
      </div>
      <div *ngIf="okButton">
        <app-button
          [label]="'ok'"
          [variant]="'secondary'"
          [fill]="true"
          (onClick)="onOk.emit($event); onCloseModal()"
        ></app-button>
      </div>
      <div *ngIf="deleteButton">
        <app-button
          [label]="'delete'"
          [fill]="true"
          (onClick)="onDelete.emit($event); onCloseModal()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
