@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

@mixin font-primary($weight)
    font-family: 'Inter', serif
    font-optical-sizing: auto
    font-weight: $weight
    font-style: normal

@mixin font-secondary($weight)
    font-family: 'Montserrat', sans-serif
    font-optical-sizing: auto
    font-weight: $weight
    font-style: normal