@use "../../../sass/colors" as *
@use "../../../sass/fonts" as *
@use "../../../sass/mixins" as *

.labdt-button
  +font-primary(500)
  box-sizing: border-box
  font-size: 20px
  position: relative
  padding: 24px 48px
  cursor: pointer
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

// Primary variant
.labdt-button.primary
  +drop-shadow-soft
  color: white
  background-color: $color-primary
  border: none
  border-radius: 35px

  &:focus
    +outline

  &:hover
    background-color: $color-primary-highlight

// Secondary variant
.labdt-button.secondary
  +drop-shadow-soft
  color: white
  background-color: $color-secondary
  border: none
  border-radius: 35px

  &:focus
    +outline

  &:hover
    background-color: $color-secondary-highlight

// Header variant
.labdt-button.header
  color: white
  background-color: transparent
  border: 2px solid white
  border-radius: 5px
  transition: color 400ms ease

  &:focus
    +outline

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: white
    transform: scaleX(0)
    transform-origin: center
    transition: transform 400ms ease
    z-index: -1

  &:hover:before
    transform: scaleX(1)

  &:hover
    color: black

// Minimalist variant
.labdt-button.minimalist
  color: white
  background-color: transparent
  border: none
  padding: 26px 50px
  border-radius: 5px

  &:focus
    +outline

  &:hover
    color: $color-secondary-highlight

// Fill available content
.labdt-button.fill
  width: 100%
